* {
  padding: 0px;
  margin: 0px;
  background: transparent;
}

body {
  background-image: url("img/rain.gif");
  background-color: #f45b69;
  background-blend-mode: multiply;
  background-size: cover;
  min-height: 100vh;
}

.title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  margin: 24px auto;
  width: 40%;
  padding: 20px;
  border-radius: 15px;
  border: 8px solid black;
  background-color: #fdfd96;
}

.tile-container {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 650px;
  border: 8px solid black;
  background-color: rgb(230, 220, 201);
}

.tile {
  flex: 1 1 auto;
  background-color: wheat;
  opacity: 0;
}

.row {
  display: flex;
  flex: 1 1 auto;
}

.side-menu {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 200px;
  height: 600px;
  margin-top: -160px;
  justify-content: space-evenly;
}

.main-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  height: 40px;
  width: auto;
  border-radius: 12px;
  background-color: #d1001f;
}